* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.header{
    
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-style: solid;
    background-color: bisque;
  
    
    height: 63.3px;
    position:fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    
}
.sidebar{
    
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    border-style: solid;
    background-color: bisque;
    
    position:fixed;
    top: 62px;
    bottom: 0px;
    
    left: 0px;
    



}
.profile{
  width: 50px;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;




}
body {
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  padding: 40px;
  margin-left:100px ;
  margin-top: 100px;
  

}

.app {
  background: #fff;
  width: 400px;
  padding: 20px;
  border-radius: 8px;
}

h1 {
  text-align: center;
}

textarea {
  width: 100%;
  height: 80px;
  margin: 10px 0;
  padding: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 10px;

}

button {
  width: 100%;
  padding: 10px;
  background: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.note {
  background: #eee;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

.note button {
  background: crimson;
  margin-top: 5px;
}
.icon{
   width:105px;
   height:80px;
   margin-top: -12px;
   margin-left: -3px;
  

}


